h1 {
  /* background-color: yellow; */
  /* display: none; */
}

a {
  /* display: inline; */
  /* display: block */
}

p {
  /* display: block; */
  /* display: inline; */
}

p {
  /* color: red; 
  font-weight: bold; */
  /* background-color: red; */
}

.wrapper {
  background-color: red;
  text-align: center;
  text-transform: uppercase;
  color: white
}

.headings {
  background-color: purple;
}

.links {
  background-color: yellow;
}