.homepage {
  background-color: lightpink;
}



#text {
  color: yellow;
  background-color: black;
}

.heading {
  text-align: center;
}

#heading {
  background-color: white;
  color: purple
}

.content {
  background-color: yellow;
  color: orange;
  font-size: 40px;
}
